<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luxevista.resort">

    <application
        android:allowBackup="true"
        android:label="LuxeVista Resort"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuxeVistaResort">
        <activity android:name=".BookingActivity" />
        <activity android:name=".BrowseRoomsActivity" />
        <activity android:name=".BookSpaActivity" />
        <activity android:name=".ReserveDiningActivity" />
        <activity android:name=".PoolsideCabanasActivity" />
        <activity android:name=".PromotionsActivity" />
        <activity android:name=".NearbyAttractionsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
